/********************************* Font/Color-Scheme *********************************/

.color-default{
    background-color: #6b705c;
    color: #ffe8d6;
    font-weight: bold;
}

.color-section{
    background-color: #a5a58d;
}

a:active, a:link, a:visited {
    color: #ffe8d6;
}

a:hover{
    color: #ddbea9;
}

/********************************* HEADING *********************************/


/********************************* SECTION *********************************/

.section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    opacity: 0.9;
    padding: 10rem;
}

/********************************* FOOTER *********************************/

.footer{
    padding: 1rem;
}

.footer div{
    font-weight: normal;
}