/********************************* FONT/color *********************************/

.color-default{
    background-color: #6b705c;
    color: #ffe8d6;
    font-weight: bolder;
}

.color-section{
    background-color: #a5a58d;
}

/********************************* HEADING *********************************/

.nav-link {
    background-color: #6b705c;
    color: #ffe8d6;
}

/********************************* SECTION *********************************/

.section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    opacity: 0.9;
    padding: 10rem;
}

/********************************* FOOTER *********************************/

